@charset "UTF-8";
.brown-box{
  width: 500px;
  padding: 20px;;
  background-color: #fad296;
  border: solid 5px #8f5a0a;
  font-size: 16px;
  line-height: 16px;
  border-radius: 30px;
  position: relative;
}
.brown-box:before,.brown-box:after{
  content: "";
  position: absolute;
  border: 20px solid transparent;
  left: 30px;
}
.brown-box:before{
  border-top: 20px solid #8f5a0a;
  bottom: -45px;
}
.brown-box:after{
  border-top: 20px solid #fad296;
  bottom: -38px;
}