@charset "UTF-8";
.greenbox {
  width: 200px;
  height: 200px;
  background: #76ff826b;
  margin: 0 auto;
}
.bluebox {
  width: 200px;
  height: 200px;
  background: #331aefd0;
  margin: 0 auto;
  transition: 0.5s;
}
.fadein {
  animation: fadeIn 4s ease 0s 1 normal;
}
.fadeout {
  animation: fadeOut 4s ease 4s 1 normal;
}
.spin {
  animation: spin 4s linear infinite;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hover-color:hover {
  background: #ff27e2c9;
}
.hover-spin:hover {
  transform: rotate(360deg);
}
.hover-up-slide:hover {
  transform: translate(0, -20%);
}
.hover-right-slide:hover {
  transform: translate(50%, 0);
}
.hover-height:hover {
  height: 300px;
}
.hover-width:hover {
  width: 500px;
}
.hover-border {
  box-sizing: border-box;
}
.hover-border:hover {
  border: 10px #00ffe5 solid;
}
.hover-shadow:hover {
  box-shadow: 8px 11px 10px 3px #06031ed0;
}
.circle-spin {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: solid 10px #ecf1f2;
  border-top: solid 10px #14ff4bcd;
  border-radius: 50%;
  animation: spin 1.1s linear infinite;
}
.card-list {
  display: flex;
}
.card {
  width: 300px;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #000000;
  border-left: 0;
  transition: 0.5s;
}
p {
  margin-top: 20px;
}
.card:hover {
  box-shadow: 0px 0px 10px 3px #424242d0;
  z-index: 1;
}
.item {
  width: 150px;
  height: 150px;
  background: url(https://picsum.photos/id/1005/200/300) no-repeat center/cover;
  border-radius: 50%;
  margin: 0 auto;
}
